@model SME_WEB_ApiManagement.Models.TSystemApiMappingModels

@{
    ViewData["Title"] = "API Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .note-highlight {
        background-color: #f8f9fa; /* สีเทาอ่อนมาก */
        padding: 12px 16px;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 4px;
    }
</style>
<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">Service Name :</dt>
            <dd class="col-sm-8  note-highlight">@Model.ApiServiceName</dd>

            
       

            <dt class="col-sm-4">System Code :</dt>
            <dd class="col-sm-8  note-highlight">@Model.OwnerSystemCode</dd>

            <dt class="col-sm-4">Method :</dt>
            <dd class="col-sm-8  note-highlight">@Model.ApiMethod</dd>

            <dt class="col-sm-4">UAT URL (Outbound) :</dt>
            <dd class="col-sm-8  note-highlight">@Model.ApiUrlUatOutbound</dd>

            <dt class="col-sm-4">Request Example :</dt>
            <dd class="col-sm-8  note-highlight"><pre>@Model.ApiRequestExample</pre></dd>


            <dt class="col-sm-4">Response Example :</dt>
            <dd class="col-sm-8  note-highlight"><pre>@Model.ApiResponseExample</pre></dd>

  

            <dt class="col-sm-4">Note :</dt>
            <dd class="col-sm-8  note-highlight">@Model.ApiNote</dd>
        </dl>
        <a href="@Url.Action("Index", "ApiReference")" class="btn btn-secondary">Back</a>
    </div>
</div>