@model SME_WEB_ApiManagement.Models.ViewRegisterApiModels
@{
    ViewData["Title"] = "Register API";

    var vDdlStatus = @ViewBag.vDdlStatus;
    var vDdlOrg = @ViewBag.vDdlOrg;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<style>
    .btn_search {
        background-color: #007bff;
        color: #fff;
        border: none;
    }

    .text-color-botton {
        color: #fff !important;
    }

    .m-r-10 {
        margin-right: 10px;
    }

    .btn_cancel {
        background-color: #dc3545;
        color: #fff;
        border: none;
    }
</style>
@using (Html.BeginForm("RegisterAPIDetail", "RegisterAPI", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    <div class="wrap-content">
        <div class="header">
            <div class="nav-navigation">
                <p>HOME</p>
                <p>></p>
                <p>Register API</p>
            </div>
            <div class="header_content">
                <h1>Register API</h1>
                <div id="Batch">
                    <div class="content_body">
                        <div class="row">
                            <div class="col-md-3 offset-md-3">
                                <div><label>หน่วยงานที่ขอใช้ :</label></div>

                            </div>
                            <div class="col-md-3">
                                <input type="hidden" asp-for="MRegister.OrganizationCode" value="@Model.MRegister.OrganizationCode" />
                                <select asp-for="MRegister.OrganizationCode" asp-items="vDdlOrg" class="form-control" value="MRegister.OrganizationCode" disabled>
                                    <option value="">-- กรุณาเลือก --</option>
                                </select>

                            </div>
                            <div class="col-md-3 offset-md-3">
                                <div><label>วันเริ่มต้น :</label></div>

                            </div>
                            <div class="col-md-3">

                             @*    <input class="form-control" type="date" placeholder="Ex.dd/MM/yyyy" asp-for="MRegister.StartDate" value="MRegister.StartDate" /> *@
                       @*          <input class="form-control" type="date" asp-for="MRegister.StartDate"
                                       value="@(MRegister.StartDate.HasValue ? MRegister.StartDate.Value.ToString("yyyy-MM-dd") : "")" /> *@
                                <input class="form-control" type="date" asp-for="MRegister.StartDate" />

                            </div>

                            <div class="col-md-3 offset-md-3">
                                <div><label>วันสิ้นสุด : </label></div>

                            </div>
                            <div class="col-md-3">
                              @*   <input class="form-control" type="date" placeholder="Ex.dd/MM/yyyy" asp-for="MRegister.EndDate" value="MRegister.EndDate" /> *@
                                <input class="form-control" type="date" asp-for="MRegister.EndDate" />

                            </div>
                            <div class="col-md-3 offset-md-3">
                                <div><label>ระบบที่ใช้ : </label></div>

                            </div>
                            <div class="col-md-6">
                                <div class="accordion" id="checkboxAccordion">
                                    @{
                                        // Group LApi by GroupName
                                        var grouped = Model.LApi
                                        .GroupBy(x => x.SystemName)
                                        .ToList();
                                        int groupIndex = 0;
                                    }
                                    @foreach (var group in grouped)
                                    {
                                        var collapseId = $"collapse{groupIndex}";
                                        var headingId = $"heading{groupIndex}";
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="@headingId">
                                                <button class="accordion-button @(groupIndex > 0 ? "collapsed" : "")" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId">
                                                    @group.Key
                                                </button>
                                            </h2>
                                            <div id="@collapseId" class="accordion-collapse collapse @(groupIndex == 0 ? "show" : "")" data-bs-parent="#checkboxAccordion">
                                                <div class="accordion-body">
                                                    @foreach (var item in group)
                                                    {
                                                        var checkboxId = $"chk_{groupIndex}_{item.SystemCode}";
                                                        <div class="form-check">
                                                            <input type="hidden" asp-for="LApi[@Model.LApi.IndexOf(item)].SystemApiMappingId" />
                                                            <input type="hidden" asp-for="LApi[@Model.LApi.IndexOf(item)].ServiceName" />
                                                            <input type="hidden" asp-for="LApi[@Model.LApi.IndexOf(item)].OrganizationCode" value="@Model.MRegister.OrganizationCode" />
                                                            <input type="hidden" asp-for="LApi[@Model.LApi.IndexOf(item)].SystemCode" />
                                                           
                                                            <input class="form-check-input"
                                                                   type="checkbox"
                                                                   id="@checkboxId"
                                                                   name="LApi[@Model.LApi.IndexOf(item)].IsSelected"
                                                                   value="true"
                                                                   @(item.IsSelected ? "checked" : "") />
                                                            <label class="form-check-label" for="@checkboxId">@item.ServiceName</label>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        groupIndex++;
                                    }
                                </div>
                            </div>

                           
                            <div class="col-md-3 offset-md-3">
                                <div><label>หมายเหตุ : </label></div>

                            </div>
                            <div class="col-md-3">
                                <textarea id="w3review" name="w3review" rows="8" cols="100" placeholder="Enter your text here...">

                                </textarea>

                            </div>





                        </div>

                        <br />
                        <div class="text-center m-t-10">

                            <button class="btn btn_search text-color-botton m-r-10" id="saveData" value="saveData" name="saveData">บันทึก</button>
                            <button class="btn btn_cancel ">ยกเลิก</button>
                        </div>
                      

                    </div>
                </div>
            </div>

        </div>

    </div>

}

