@model SME_WEB_ApiManagement.Models.ViewRegisterApiModels
@{
    ViewData["Title"] = "Register API";

    var vDdlStatus = @ViewBag.vDdlStatus;
    var vDdlOrg = @ViewBag.vDdlOrg;

}
@using (Html.BeginForm("RegisterAPIDetail", "RegisterAPI", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    <div class="wrap-content">
        <div class="header">
            <div class="nav-navigation">
                <p>HOME</p>
                <p>></p>
                <p>Register API</p>
            </div>
            <div class="header_content">
                <h1>Register API</h1>
                <div id="Batch">
                    <div class="content_body">
                        <div class="row">
                            <div class="col-md-3 offset-md-3">
                                <div><label>หน่วยงานที่ขอใช้ :</label></div>

                            </div>
                            <div class="col-md-3">

                                <select asp-for="MRegister.OrganizationCode" asp-items="vDdlOrg" class="form-control" value="MRegister.OrganizationCode">
                                    <option value="">-- กรุณาเลือก --</option>
                                </select>

                            </div>
                            <div class="col-md-3 offset-md-3">
                                <div><label>วันเริ่มต้น :</label></div>

                            </div>
                            <div class="col-md-3">

                             @*    <input class="form-control" type="date" placeholder="Ex.dd/MM/yyyy" asp-for="MRegister.StartDate" value="MRegister.StartDate" /> *@
                       @*          <input class="form-control" type="date" asp-for="MRegister.StartDate"
                                       value="@(MRegister.StartDate.HasValue ? MRegister.StartDate.Value.ToString("yyyy-MM-dd") : "")" /> *@
                                <input class="form-control" type="date" asp-for="MRegister.StartDate" />

                            </div>

                            <div class="col-md-3 offset-md-3">
                                <div><label>วันสิ้นสุด : </label></div>

                            </div>
                            <div class="col-md-3">
                              @*   <input class="form-control" type="date" placeholder="Ex.dd/MM/yyyy" asp-for="MRegister.EndDate" value="MRegister.EndDate" /> *@
                                <input class="form-control" type="date" asp-for="MRegister.EndDate" />

                            </div>
                            <div class="col-md-3 offset-md-3">
                                <div><label>ระบบที่ใช้ : </label></div>

                            </div>
                            <div class="col-md-3">
                                @if (Model.LApi!=null)
                                {

                                  @*   @for (var i = 0; i < Model.LApi.Count; i++)
                                    {
                                        <div>
                                            <input type="hidden" asp-for="LApi[i].SystemCode" />
                                            <input type="hidden" asp-for="LApi[i].SystemName" />
                                            <input type="hidden" name="LApi[@i].FlagActive" value="false" />
                                            <input type="checkbox" name="LApi[@i].FlagActive" value="true" @(Model.LApi[i].FlagActive == true ? "checked" : "") />

                                            <label>@Model.LApi[i].SystemName</label>
                                        </div>
                                    } *@

                                    @for (var i = 0; i < Model.LApi.Count; i++)
                                    {
                                        <div>
                                            <input type="hidden" asp-for="LApi[i].SystemCode" />
                                            <input type="hidden" asp-for="LApi[i].SystemName" />
                                            <input type="checkbox" name="LApi[@i].IsSelected" value="true" @(Model.LApi[i].FlagActive == true ? "checked" : "") />
                                           @*  <input type="checkbox" asp-for="LApi[i].IsSelected"  value="true" @(Model.LApi[i].FlagActive == true ? "checked" : "")/> *@
                                            <label>@Model.LApi[i].SystemName</label>
                                        </div>
                                    }
                                }
                            
                            </div>
                            <div class="col-md-3 offset-md-3">
                                <div><label>หมายเหตุ : </label></div>

                            </div>
                            <div class="col-md-3">
                                <textarea id="w3review" name="w3review" rows="8" cols="100" placeholder="Enter your text here...">

                                </textarea>

                            </div>





                        </div>

                        <br />
                        <div class="text-center m-t-10">

                            <button class="btn btn_search text-color-botton m-r-10" id="saveData" value="saveData" name="saveData">Submit</button>
                            <button class="btn btn_cancel ">Cancel</button>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>

}

