@model SME_WEB_ApiManagement.Models.ViewRegisterApiModels
@{
    ViewData["Title"] = "หน่วยงานหรือบริษัท";
    var vDdlStatus = @ViewBag.vDdlStatus;
    var vDdlOrg = @ViewBag.vDdlOrg;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    function GetCreate() {

        $("#CreateModal").modal()
    }

    function OpenConfirmDeleteModal(ReqID) {


        document.getElementById("TArrivalDetaiModels_Id").value = ReqID;

        $("#ConfirmDeleteModal").modal();

    }

  
</script>
@using (Html.BeginForm("RegisterList", "RegisterAPI", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
     <div class="main-content">
    <div class="wrap-boder">
        <div class="wrap-content">
            <div class="header">
                <div class="nav-navigation">
                    <p>HOME </p> <p>></p>
                    <p> หน่วยงานที่ลงทะเบียนเรียบร้อยแล้ว</p>
                </div>
                <div class="header_content">
                    <h1>หน่วยงานที่ลงทะเบียนเรียบร้อยแล้ว</h1>
                </div>
            </div>
            <div class="content_body">
                <div class="row">
                    <div class="col-md-6">
                            <div><label>ผู้ระบบ</label></div>
                        <input class="form-control" type="text" placeholder="Ex. ผู้ใช้บริการ..." name="MRegister.OrganizationName" asp-for="MRegister.OrganizationName" />
                    </div>

                    <div class="col-md-6">
                        <div><label>API-Key</label></div>
                        <input class="form-control" type="text" placeholder="Ex. ระบบ..." name="MRegister.ApiKey" asp-for="MRegister.ApiKey" />
                    </div>


                    <div class="col-md-6">
                        <div><label>วันที่ลงทะเบียน</label></div>
                        <input class="form-control" type="date" placeholder="Ex.dd/MM/yyyy" name="MRegister.StartDate" asp-for="MRegister.CreateDate" />
                    </div>
                    <div class="col-md-6">
                        <div><label>วันที่แก้ไขล่าสุด</label></div>
                        <input class="form-control" type="date" placeholder="Ex.dd/MM/yyyy" name="MRegister.EndDate" asp-for="MRegister.UpdateDate" />
                    </div>
                </div>
               
                
                
                <div class="text-center m-t-10">
                        <button class="btn btn_search text-color-botton" name="searchDate" id="searchDate" value="searchDate">ล้างข้อมูล</button>
                    <button class="btn btn_search text-color-botton" name="searchDate" id="searchDate" value="searchDate">ค้นหา</button>
                </div>
                 
                </div>
            </div>
        </div>
    </div>

                    <div class="main-content">
                        <div class="wrap-boder">
                            <div class="wrap-content">
                <div class="content_table">
                    <div class="content_table_head d-flex align-items-center">
                            <h6>รายการ Inbound API</h6>

                    </div>
                    <div class="line"></div>
                    <div class="m-b-10">

                        <input type="button" class="btn btn_search text-color-botton" name="create"
                               value="+ADD" onclick="window.location.href='/RegisterAPI/RegisterAPI';" />

                    </div>
                    <div class="table-responsive">
                        <table class=" table table-stand">
                            <thead>
                                <tr>


                                    <th scope="col">ลำดับ</th>


                                    <th scope="col">ผู้ใช้บริการ</th>
                                    <th scope="col">API Key</th>
                                    <th scope="col">สถานะ</th>
                                    <th scope="col">เริ่มให้บริการ</th>
                                    <th scope="col">วันที่ลงทะเบียน</th>
                                    <th scope="col">วันที่แก้ไขล่าสุด</th>
                                    <th scope="col"> </th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.LRegis != null)
                                {
                                    var index = 1 + ((Model.PageModel.CurrentPageNumber - 1) * Model.PageModel.PageSize);
                                    foreach (var w in Model.LRegis)
                                    {
                                        <tr>
                                            <td>@index</td>
                                            <td class="align_text" style="width:auto">
                                                @Html.ActionLink(w.OrganizationName, "RegisterAPIDetail", "RegisterAPI", new { OrgCode = w.OrganizationCode }, null)
                                            </td>
                                            <td class="align_text" style="width:auto">
                                                @w.ApiKey
                                            </td>
                                            <td class="align_text" style="width:auto">
                                                @if (w.FlagActive ?? false)
                                                {
                                                    <span style="color: green;">ใช้งาน</span>
                                                }
                                                else
                                                {
                                                    <span style="color: red;">ปิดการใช้งาน</span>
                                                }
                                            </td>
                                            <td class="align_text" style="width:auto">
                                                @(w.StartDate?.ToString("dd/MM/yyyy") ?? "-") - @(w.EndDate?.ToString("dd/MM/yyyy") ?? "-")
                                            </td>
                                            <td class="align_text" style="width:auto">
                                                @(w.CreateDate.HasValue? w.CreateDate.Value.ToString("dd/MM/yyyy") : "-")
                                            </td>
                                            <td class="align_text" style="width:auto">
                                                @(w.UpdateDate.HasValue? w.UpdateDate.Value.ToString("dd/MM/yyyy") : "-")
                                            </td>
                                            <td class="align_text" style="width:auto">
                                                <a type="button">
                                                    <i class="fas fa-edit" style="color: #34A5EB; cursor: pointer;"></i>
                                                </a>
                                                <a type="button" style="cursor: pointer;">
                                                    <i class="fas fa-trash m-l-10 btn_delete-icon "></i>
                                                </a>
                                            </td>
                                        </tr>
                                        index++;
                                    }
                                }
                                else
                                {
                                    <tr id="trNodata" runat="server" visible="false">
                                        <td colspan="12" valign="middle">
                                            <b>No Data</b>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>


      

                    <div class="table-footer d-flex justify-content-between align-items-center p-2" style="background: #f7f9fa; border-top: 1px solid #e9ecef;">
                        <div class="pagination-custom d-flex align-items-center gap-2">
                            <button type="submit" class="btn btn-light px-2 @(Model.PageModel.CurrentPageNumber <= 1 ? "disabled" : "")" name="first" value="first" title="หน้าแรก">
                                <i class="fa fa-angle-double-left"></i>
                            </button>
                            <button type="submit" class="btn btn-light px-2 @(Model.PageModel.CurrentPageNumber <= 1 ? "disabled" : "")" name="previous" value="previous" title="ก่อนหน้า">
                                <i class="fa fa-angle-left"></i>
                            </button>
                            <span class="mx-2">Page</span>
                            <input type="hidden" name="hidtotalpage" id="hidtotalpage" value="@Model.PageModel.TotalPage" />
                            <input type="text" name="hidcurrentpage" id="hidcurrentpage" value="@Model.PageModel.CurrentPageNumber" readonly
                                   style="width: 40px; text-align: center; border: 1px solid #ced4da; border-radius: 4px; background: #fff;" />
                            <span class="mx-2">of @Model.PageModel.TotalPage</span>
                            <button type="submit" class="btn btn-light px-2 @(Model.PageModel.CurrentPageNumber >= Model.PageModel.TotalPage ? "disabled" : "")" name="next" value="next" title="ถัดไป">
                                <i class="fa fa-angle-right"></i>
                            </button>
                            <button type="submit" class="btn btn-light px-2 @(Model.PageModel.CurrentPageNumber >= Model.PageModel.TotalPage ? "disabled" : "")" name="last" id="btnLast" value="last" title="หน้าสุดท้าย">
                                <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                        <div class="text-end" style="min-width: 220px;">
                            @{
                                var start = (Model.LRegis?.Count() ?? 0) > 0 ? 1 + ((Model.PageModel.CurrentPageNumber - 1) * Model.PageModel.PageSize) : 0;
                                var end = (Model.LRegis?.Count() ?? 0) > 0 ? ((Model.PageModel.CurrentPageNumber - 1) * Model.PageModel.PageSize) + Model.LRegis.Count() : 0;
                                var total = Model.TotalRowsList ?? 0;
                            }
                            แสดง @start - @end จาก @total รายการ
                        </div>
                    </div>

                </div>

                @*   <div class="text-center m-t-10">
            <button class="btn btn_search text-color-botton m-r-10" id="Resend" name="Resend" value="Resend" onclick="submitSelected()">Resend All</button>
            <button class="btn btn_cancel ">Cancel</button>
            </div> *@
            </div>
        </div>
    </div>
     
   

    <div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="ViewCancelModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width: 80%;">
            <div class="modal-content">
                <div class="modal-header  ">
                    <h5 class="modal-title" id="reqDetailModalLabel">System Master Management</h5>

                    <button type="button" class="close button_close" data-dismiss="modal" aria-label="Close">
                        <span class="x-sign" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card" style=" margin-top: 1px; ">


                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>ชื่อระบบ</label>
                                    <input class="form-control" type="text" placeholder="Ex. ระบบ.." />

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>API-Key</label>
                                    <input class="form-control" placeholder="Ex. c6633541-65e9-43f7-bb4f-e543c3963815" type="text" />

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>สถานะ</label>
                                    <select class="form-control" name="cars" id="cars">

                                        <option value="Completed">ใช้งาน</option>
                                        <option value="Uncompleted">ปิดการใช้งาน</option>


                                    </select>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="modal-footer n-border" style="align-self: center;">
                    <button class="btn btn_search text-color-botton m-r-10" value="saveEmp" id="saveEmp" name="saveEmp">Submit</button>
                    <button class="btn btn_cancel ">Cancel</button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ConfirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="ViewCancelModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width: 80%;">
            <div class="modal-content">
                <div class="modal-header  ">
                    <h5 class="modal-title" id="reqDetailModalLabel">Confirm Delete</h5>

                    <button type="button" class="close button_close" data-dismiss="modal" aria-label="Close">
                        <span class="x-sign" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card" style=" margin-top: 1px; ">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="CLeaveRequestModel_EmpCode">Are you sure you want to Delete this item?</label>
                            <input type="hidden" id="TArrivalDetaiModels_Id" />

                        </div>
                    </div>
                </div>


                <div class="modal-footer n-border" style="align-self: center;">
                    <button class="btn btn_search text-color-botton m-r-10" name="DeleteEmp" id="DeleteEmp" value="DeleteEmp">Submit</button>
                    <button class="btn btn_cancel ">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var btnLast = document.getElementById("btnLast");
        if (btnLast) {
            btnLast.addEventListener("click", function (e) {
                document.getElementById("hidcurrentpage").value = document.getElementById("hidtotalpage").value;
            });
        }
    });
</script>
